node_modules/
.vscode/

# API Keys and Environment Variables
.env
backend/.env

# Database
*.sqlite3

# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Misc
.DS_Store